* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html,
body {
    display:flex;
    font-family: 'Poppins', sans-serif;
    justify-content: center;
    flex-direction: column;
    align-items:center;
    height:100%;
    gap:20px;

}
.display {
    text-align:center;
    width:400px;
    height:100px;
    
}
.container {
    display:flex;
    gap:20px;
    height:150px;
}

.gameFrame {
    box-shadow: 0 0px 7px 0 #888888, 0px 0px 0px 0px #888888;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    gap:30px;
    width:70vw;
    height:80vh;
    min-width:600px;
    background-color: white;
}

.container button {
    width:150px;
    color:black;
    font-weight: 500;
    background-color: white;
    font-size:30px;
    border-style:none;
    border-radius:20px;
    height:150px;
    font-family: 'Poppins', sans-serif;
    

    
}


.container button:hover {
    box-shadow: 0 0px 7px 0 #888888, 0px 0px 0px 0px #888888;
}

.popup {
    position:absolute;
    background-color: black;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 25px;
    width:500px;
    height:400px;
    visibility: hidden;
    box-shadow: 0 0px 7px 0 #888888, 0px 0px 0px 0px #888888;

}

.popMessage{
    margin-top:auto;
    margin-bottom:auto;
    color:white;
    font-size:25px;
}

.close {
    background-color: white;
    color: black;
    border-style:none;
    font-family: "Poppins",sans-serif;
    margin-bottom: 25px;
    box-shadow: 0 0px 7px 0 white, 0px 0px 0px 0px white;
    border-radius:15px;
    height:45px;
    width:125px;
}

.close:hover {
    background-color: black;
    color:white;
}

.round {
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color:white;
    border-radius: 10px;
    width:200px;
    height:40px;
}
@keyframes shakeLose {
    0% { transform: translate(1px, 1px) rotate(0deg); color:red;box-shadow: 0 8px 10px 0  #cc9999, 0px -8px 10px 0px  #cc9999;}
    10% { transform: translate(-1px, -2px) rotate(-1deg);color:red;box-shadow: 0 8px 10px 0  #cc9999, 0px -8px 10px 0px  #cc9999; }
    20% { transform: translate(-3px, 0px) rotate(1deg); color:red;box-shadow: 0 8px 10px 0  #cc9999, 0px -8px 10px 0px  #cc9999;}
    30% { transform: translate(3px, 2px) rotate(0deg); color:red;box-shadow: 0 8px 10px 0  #cc9999, 0px -8px 10px 0px  #cc9999;}
    40% { transform: translate(1px, -1px) rotate(1deg); color:red;box-shadow: 0 8px 10px 0  #cc9999, 0px -8px 10px 0px  #cc9999;}
    50% { transform: translate(-1px, 2px) rotate(-1deg);color:red; box-shadow: 0 8px 10px 0  #cc9999, 0px -8px 10px 0px  #cc9999;}
    60% { transform: translate(-3px, 1px) rotate(0deg); color:red;box-shadow: 0 8px 10px 0  #cc9999, 0px -8px 10px 0px  #cc9999;}
    70% { transform: translate(3px, 1px) rotate(-1deg); color:red;box-shadow: 0 8px 10px 0  #cc9999, 0px -8px 10px 0px  #cc9999;}
    80% { transform: translate(-1px, -1px) rotate(1deg); color:red;box-shadow: 0 8px 10px 0  #cc9999, 0px -8px 10px 0px  #cc9999;}
    90% { transform: translate(1px, 2px) rotate(0deg); color:red;box-shadow: 0 8px 10px 0  #cc9999, 0px -8px 10px 0px  #cc9999;}
    100% { transform: translate(1px, -2px) rotate(-1deg); color:red;box-shadow: 0 8px 10px 0  #cc9999, 0px -8px 10px 0px  #cc9999;}
  }

  @keyframes draw {
    0% {  box-shadow: 0 8px 10px 0  #dae8b5, 0px -8px 10px 0px #dae8b5;color:rgb(223, 223, 73);}
    10% { box-shadow: 0 8px 10px 0  #dae8b5, 0px -8px 10px 0px #dae8b5;color:rgb(223, 223, 73);;}
    20% {  box-shadow: 0 8px 10px 0  #dae8b5, 0px -8px 10px 0px #dae8b5;color:rgb(223, 223, 73);;}
    30% {  box-shadow: 0 8px 10px 0  #dae8b5, 0px -8px 10px 0px #dae8b5;color:rgb(223, 223, 73);;}
    40% { box-shadow: 0 8px 10px 0  #dae8b5, 0px -8px 10px 0px #dae8b5;color:rgb(223, 223, 73);;}
    50% { box-shadow: 0 8px 10px 0  #dae8b5, 0px -8px 10px 0px #dae8b5; color:rgb(223, 223, 73);;}
    60% {  box-shadow: 0 8px 10px 0  #dae8b5, 0px -8px 10px 0px #dae8b5;color:rgb(223, 223, 73);;}
    70% { box-shadow: 0 8px 10px 0  #dae8b5, 0px -8px 10px 0px #dae8b5;color:rgb(223, 223, 73);;}
    80% {  box-shadow: 0 8px 10px 0  #dae8b5, 0px -8px 10px 0px #dae8b5;color:rgb(223, 223, 73);;}
    90% { box-shadow: 0 8px 10px 0  #dae8b5, 0px -8px 10px 0px #dae8b5;color:rgb(223, 223, 73);;}
    100% {  box-shadow: 0 8px 10px 0  #dae8b5, 0px -8px 10px 0px #dae8b5;color:rgb(223, 223, 73);;}
  }

  @keyframes win {
    0% {  box-shadow: 0 8px 10px 0  #9eef7b, 0px -8px 10px 0px #9eef7b; width:152px;height:152px;color:rgb(118, 231, 118);}
    10% { box-shadow: 0 8px 10px 0  #9eef7b, 0px -8px 10px 0px #9eef7b; width:154px;height:154px;color:rgb(118, 231, 118);}
    20% {  box-shadow: 0 8px 10px 0  #9eef7b, 0px -8px 10px 0px #9eef7b;width:156px;height:156px;color:rgb(118, 231, 118);}
    30% {  box-shadow: 0 8px 10px 0  #9eef7b, 0px -8px 10px 0px #9eef7b;width:158px;height:158px;color:rgb(118, 231, 118);}
    40% { box-shadow: 0 8px 10px 0  #9eef7b, 0px -8px 10px 0px #9eef7b;width:160px;height:160px;color:rgb(118, 231, 118);}
    50% { box-shadow: 0 8px 10px 0  #9eef7b, 0px -8px 10px 0px #9eef7b; width:160px;height:160px;color:rgb(118, 231, 118);}
    60% {  box-shadow: 0 8px 10px 0  #9eef7b, 0px -8px 10px 0px #9eef7b;width:160px;height:160px;color:rgb(118, 231, 118);}
    70% { box-shadow: 0 8px 10px 0  #9eef7b, 0px -8px 10px 0px #9eef7b;width:158px;height:158px;color:rgb(118, 231, 118);}
    80% {  box-shadow: 0 8px 10px 0  #9eef7b, 0px -8px 10px 0px #9eef7b;width:156px;height:156px;color:rgb(118, 231, 118);}
    90% { box-shadow: 0 8px 10px 0  #9eef7b, 0px -8px 10px 0px #9eef7b;width:154px;height:154px;color:rgb(118, 231, 118);}
    100% {  box-shadow: 0 8px 10px 0  #9eef7b, 0px -8px 10px 0px #9eef7b;width:152px;height:152px;color:rgb(118, 231, 118);}
  }

  @keyframes suddenDeath {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    5% { transform: translate(-1px, -2px) rotate(-1deg); }
    10% { transform: translate(-3px, 0px) rotate(1deg); }
    15% { transform: translate(3px, 2px) rotate(0deg); }
    20% { transform: translate(1px, -1px) rotate(1deg); }
    25% { transform: translate(-1px, 2px) rotate(-1deg);}
    30% { transform: translate(-3px, 1px) rotate(0deg); }
    35% { transform: translate(3px, 1px) rotate(-1deg); }
    40% { transform: translate(-1px, -1px) rotate(1deg);}
    45% { transform: translate(1px, 2px) rotate(0deg); }
    50% { transform: translate(1px, -2px) rotate(-1deg);}
    55% { transform: translate(1px, 1px) rotate(0deg); }
    60% { transform: translate(-1px, -2px) rotate(-1deg); }
    65% { transform: translate(-3px, 0px) rotate(1deg); }
    70% { transform: translate(3px, 2px) rotate(0deg); }
    75% { transform: translate(1px, -1px) rotate(1deg); }
    80% { transform: translate(-1px, 2px) rotate(-1deg);}
    85% { transform: translate(-3px, 1px) rotate(0deg); }
    90% { transform: translate(3px, 1px) rotate(-1deg); }
    95% { transform: translate(-1px, -1px) rotate(1deg);}
    97.5% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg);}

  }